@import "compass/css3";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/link-colors";
@import "compass/utilities/general/clearfix";

@import "base";

$center-margin-small:  100%;
$center-margin-medium: 100%;
$center-margin-large:  85%;

$navigation-pane-size: 60px;

$grid-width: 17rem;
$radius: 0.5rem;

$button-color: rgba(#0066ff, 0.6);

html {
	background-color: #303030;
	color: white; /* Text coloring everything to white. */
}

body {
	font: 100% 'Open Sans';
	font-style: normal;
	font-variant: normal;
	text-align: center;
	margin: 0;
	padding: 0;
}

.center-wrapper {
	width: $center-margin-large;
	margin: 0 auto;
	@include tablets {
		width: $center-margin-medium;
	}
}

a {
	@include hover-link;
	@include link-colors(#444, darkblue);
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: 1rem;
	font-weight: lighter;
	font-style: normal;
	margin: 0;
	padding: 0;
}

.menubar-button {
	//top: 0;
	@include box-shadow(rgba(black, 0.35) 0 0 5px);
	border-radius: $radius;
	padding: 10px;
    //background-size: 100% 100%;
	@include widescreens {
		display: none;
	}
	@include handhelds {
		//max-width: $navigation-pane-size;
		//max-height: $navigation-pane-size;
	}
}

.pane {
	$shadow-size: 5px;
	@include box-shadow(rgba(black, 0.35) 0px $shadow-size $shadow-size);
}

$carousel-button-size: 20px;
.carousel-button {
	color: transparent;
	display: inline-block;
	width: $carousel-button-size;
	height: $carousel-button-size;
	background-color: rgba(white, 0.8);
	border-radius: $radius/2;
	&:hover {
		background-color: $button-color;
	}
}

.article-cards article {
	//@include debug;
	display: inline-block;
	//max-width: $grid-width;
	max-width: $grid-width - (3*$radius);
	min-height: 6rem;
	border-radius: $radius;
	padding: 2*$radius;
	text-align: left;
	vertical-align: bottom;
	$transparency: 0.7;
	&.one { background: rgba(deeppink, $transparency); }
	&.two { background: rgba(limegreen, $transparency); }
	&.three { background: rgba(orangered, $transparency); }
}


.navigation.pane {
	padding-bottom: 10px;
	height: $navigation-pane-size;
	width: 100%;
	vertical-align: bottom;
	min-height: 60px;
	@include widescreens {
		position: fixed;
	}
	@include handhelds {
		min-height: 30px;
	}

	.links-and-search {
		display: inline-block;
	}
	.links, .search-bar {
		text-align: right;
		display: block;
		margin-left: 2rem;
	}
	.logo,.menu-bar {
		display: inline-block;
		@include handhelds {
			//float: top;
		}
	}
	.menu-bar .dropdown li {
		display: block;
		text-align: left;
	}

	background-color: white;
}

/* Adding separators between menu items. */
.links ul li:last-child a:after,
.navigation.pane ul li:last-child h4:after {
	content: "";
}
.links ul li a:after,
.navigation.pane ul li h4:after {
	content: " | ";
	color: #DDDDDD;
}

.highlights.pane {
	$img: 'slide-bg-complexity.jpg';
	background: image-url($img) 0 0 no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	@include widescreens {
		padding-top: $navigation-pane-size * 1.5;
	}
	// Temporarily disabling the sliding carousel. Only first item.
	&>div>ul>li:not(:first-child) * {
		display: none;
	}
	&>div>ul>li section {
		//@include debug;
		display: inline-block;
		width: $grid-width*3;
		max-width: 100%;
		text-align: left;
		& p {
			max-width: $grid-width*1.5;
		}
		@include tablets {
			border-radius: $radius;
			background-color: $button-color;
			padding: 2*$radius;
		}
	}
}
.article-cards article {
	@include tablets {
		@include debug;
		display: block;
	}
}
.solutions.pane {
	@include background-image(radial-gradient(50% 50% 0, rgba(147,206,222,1) 10px, #1e90ff 60px));
	li {
		@include debug;
		display: inline-block;

		width: $grid-width/2 - (3.8*$radius);
		min-height: 5rem;
		border-radius: $radius;
		padding: 2*$radius;
		vertical-align: bottom;
		@include tablets {
			display: block;
		}
	}
}
.news.pane {
	$img: 'news-and-events-bg.jpg';
	background: image-url($img) 0 0 no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	vertical-align: bottom;
	li {
		//@include debug;
		display: inline-block;
		min-height: 10rem;
		border-radius: $radius/3;
	}
	article {
		padding: 2*$radius;
		max-width: $grid-width - (3.8*$radius);
		background-color: rgba(white, 0.25);
	}
	p {
		color: black;
	}
}
.stories.pane {
	background-color: #eee;
	li {
		@include debug;
		display: inline-block;
		max-width: $grid-width;
		min-height: 18rem;
		vertical-align: bottom;
	}
}
.footer.pane {
	& > div > ul > li {
		display: inline-block;
		//max-width: $grid-width;
		max-width: $grid-width - (4*$radius);
		text-align: left;
		vertical-align: top;
	}
	a {
		@include link-colors(white, #a0a0a0);
	}
}
.menu-bar,
.links {
	li {
		background-color: white;
		display: inline-block;
	}
	& ul {
		@include handhelds {
			display: none;
		}
		@include tablets {
			display: none;
		}
	}
}

.menu-bar>ul {
	@include handhelds {
		//float: left;
		position: absolute;
		z-index: 100;
		top: $navigation-pane-size*1.1;
		right: 0;
		left: 0;
		& li {
			display: block;
		}
	}
	@include tablets {
		//float: left;
		position: absolute;
		z-index: 100;
		top: $navigation-pane-size*1.1;
		right: 0;
		left: 0;
		& li {
			display: block;
		}
	}
	& ul:hover {
		//display: none;
	}
}

.search-bar form {
	@include handhelds {
		display: none;
	}
	@include tablets {
		display: none;
	}
}

.hamburger.checkbox:checked {
	& ~ .menu-bar * {
		@include handhelds {
			display: block
		}
		@include tablets {
			display: block;
		}
	}
}
.search.checkbox:checked ~ .links-and-search form {
	@include handhelds {
		display: block;
		position: absolute;
		right: 1rem;
		top: $navigation-pane-size*1.1;
	}
	@include tablets {
		display: block;
		position: absolute;
		right: 1rem;
		top: $navigation-pane-size*1.1;
	}
}

.search-bar {
	input {
		width: 10rem;
	}
}

/* The search menu button. */
.search.menubar-button {
	float: right;
	$img: 'searchBtnMobile.png';
	background: image-url($img) 0 0 no-repeat;
	background-color: #eee;
	background-position: center;
	width: image-width($img);
	height: image-height($img);

	margin: 10px 10px 0 0;
	@include widescreens {
		display: none;
	}
}

.checkbox {
	display: none;
}

.hamburger.menubar-button {
	float: left;
	$img: 'hamburger-icon.png';
	background: image-url($img) 0 0 no-repeat;
	background-color: #eee;
	background-position: center;
	width: image-width($img);
	height: image-height($img);
	
	margin: 10px 0 0 10px;
	@include widescreens {
		display: none;
	}
}

.menu-bar>* {
	background-color: white;
	//left: 0;
	@include handhelds {
		text-align: left;
		position: relative;
		float: left;
	}
	@include tablets {
		text-align: left;
		position: relative;
		float: left;
	}
}

/* Testing. Consider deleting this... */
.logo {
	$img : 'comverse-logo.png';
	background: image-url($img) 0 0 no-repeat;
	width: image-width($img);
	height: image-height($img);

	@include widescreens {
		//margin-left: 10%;
	}
	@include tablets {
		//display: block;
		//width: 120px;
	}
	@include handhelds {
		//width: 70px;
	}
}

// Dropdown menu settings.
.dropdown {
	$dropdown-margin: 2rem;
	transition: all 0.25s ease-in;
	z-index: 50;
	position: absolute;
	opacity: 0;
	visibility:hidden;
	min-width: 100px;
	padding: $dropdown-margin;
    background-color: white;
}

.menu-bar section:hover .dropdown {
	transition: all 0.25s ease-in-out;
	opacity: 1;
	visibility:visible;
}

.menu-bar section:hover {
	transition: all 0.25s ease-in-out;
	@include widescreens {
		$shadow-size: 10px;
		@include box-shadow(rgba(black, 0.35) 0px -0.5*$shadow-size 2*$shadow-size);
	}
}
.menu-bar h4 {
	color: #555;
}

.dropdown {
	transition: all 0.25s ease-in-out;
	$shadow-size: 10px;
	@include box-shadow(rgba(black, 0.35) 0px $shadow-size $shadow-size);
}

.outline-only {
	display: none !important;
}

.pane .button {
	padding: 8px;
	display: inline-block;
	border-radius: $radius;
	a {
		@include link-colors(white);
		text-decoration: none;
		//text-transform: uppercase;
	}
	a:after {
		content:"\25B6"; /* This is a right triangle character. */
		display: inline-block;
		text-align: right;
		width: 30px;
	}
	background-color: $button-color;
	&:hover {
		background-color: darken($button-color, 15%);
	}
}
